body {
  background-color: #222;
  color: #fff;
}

.netflix-red {
  color: #e50914;
}

.navbar-bg-black {
  background-color: #222;
}

.netflix-logo {
  height: 50px;
}

.profile-type {
  color: #ffffff80;
}

.profile-type:hover {
  color: #ffffffcc;
  cursor: pointer;
}

.drop-down-avatar {
  height: 35px;
}

.dropdown-toggle {
  color: #fff;
}

.dropdown-toggle:hover {
  color: #fff;
}

.bg-black {
  background-color: rgb(19, 19, 19);
}

.dropdown-item {
  color: #fff;
}
